.nav-buttons li {
    display: inline;
}

.button {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 1px solid black;
    color: black;
    margin: 10px;
}

.button:hover {
    background-color: lightgray;
}

.active {
    background-color: lightgray;
}

.password {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#navigation {
    background-color: blue;
}